/* Color variables */
:root {
  --white: rgba(255, 255, 255, 1);
  --offwhite: rgba(250, 252, 255, 1);
  --black: rgba(rgba(18, 18, 18, 1));
  --offblack: rgba(24, 24, 24, 1);
  --textwhite: rgba(222, 224, 225, 1);
  --textblack: rgba(35, 37, 38, 1);
  --blue: rgba(0, 150, 255, 0.8);
}
/* Clears the formatting for the website */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Defaults for body and animation when the webpage loads */
@keyframes pageLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  animation: pageLoad ease-in 0.5s;
  background-color: var(--offwhite);
  font-family: 'Poppins', 'sans-serif';
}

body.darkMode {
  background-color: var(--offblack);
}

main {
  min-height: 100vh;
  margin-bottom: 100px;
}

/* Text styling */
.text-el {
  color: var(--textblack);
  text-align: center;
  float: center;
}

.text-el.darkMode {
  color: var(--textwhite);
}

h1 {
  line-height: 60px;
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 0.7em;
  opacity: 0.5;
}

p {
  line-height: 65px;
  font-size: 1.2em;
  transition: 0.1s;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  pointer-events: auto;
}

a:hover {
  color: var(--offblack);
}

a.darkMode:hover {
  color: var(--offwhite);
}

#header {
  margin-top: 15%;
  transition: all ease 0.5s;
}

#header.active {
  margin-top: 0;
  opacity: 0;
}

/* Item Button */
#item-button-container {
  display: flex;
  justify-content: center;
  opacity: 1;
}



#item-button {
  background-color: var(--white);
  padding: 0.5em 2em;
  margin: 5% 1em;
  border: thin solid var(--offblack);
  border-radius: 50px;
  text-align: center; 
  font-size: 1.5em;
  color: var(--textblack);
  transition: ease 0.2s;
  user-select: none;
}

#item-button.darkMode {
  color: var(--textwhite);
  background-color: var(--black);
  border-color: var(--offwhite);
}

#item-button:hover {
  border-color: var(--blue);
}

#item-button:hover.darkMode {
  border-color: var(--blue);
}

/* Dark mode Buttons */
#dark-mode-button, #light-mode-button {
  display: none;
  position: fixed;
  top: 4em;
  right: 4em;
  max-width: 1%;
  padding: 1em;
  border-radius: 100px;
  pointer-events: auto;
  transition: background-color ease 0.25s;
}

#dark-mode-button {
  display: block;
  background-color: #121212;
}

#dark-mode-button.active {
  display: none;
}

#dark-mode-button:hover {
  background-color: var(--offblack);
}

#light-mode-button {
  background-color: #FFFFFF;
}

#light-mode-button.active {
  display: block;
}

/* Search Bar */
#search-bar-container, #search {
  margin: 5% auto 2% auto;
  display: none;
  opacity: 0;
  height: 50px;
  width: 500px;
  transition: all ease 0.5s;
}

#search {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppins', 'sans-serif';
  border-radius: 50px;
  box-shadow:
  0px 0px 1px rgba(0, 0, 0, 0.1), 
  0px 2px 2px rgba(0, 0, 0, 0.1),
  0px 4px 4px rgba(0, 0, 0, 0.1),
  0px 8px 8px rgba(0, 0, 0, 0.1);
  background-color:var(--white);
}

#search-bar-container.darkMode {
  color: #FFFFFF;
}

#search:focus {
  outline: none;
  
}

#search:active, #search:active {
  margin: 0 auto;
}

/* Removes "x" button from search bar
Taken from Maxime Rouiller
blog post: Remove the X from Internet Explorer and Chrome input type search */
input[type=search]::-ms-clear {
  display: none; width : 0; height: 0;
}

input[type=search]::-ms-reveal {
  display: none; width : 0; height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input {
  color: #181818;
}

input.darkMode {
  color: #FFFFFF;
}

/* Item-Area */
#item-area {
  display: none;
  flex-direction: column;
  transform: translateY(100px);
  margin-top: -100px;
}

.item-box {
  display: flex;
  position: relative;
  width: 450px;
  height: 75px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow:
  0px 0px 1px rgba(0, 0, 0, 0.1), 
  0px 2px 2px rgba(0, 0, 0, 0.1),
  0px 3px 3px rgba(0, 0, 0, 0.1),
  0px 4px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  pointer-events: visible;
  transition: background-color ease 0.2s;
}

.item-box.darkMode {
  background-color: #24252A;
}

.item-box:hover {
  background-color: rgba(240, 240, 240, 0.2);
}

.item-box > h1 {
  flex: 1 0 0;
}

.item {
  opacity: 0;
  margin: 1em auto;
}

.item.active {
opacity: 1;
}

.location-box {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  height: 0px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 
  0px 0px 1px rgba(0, 0, 0, 0.1), 
  0px 2px 2px rgba(0, 0, 0, 0.1),
  0px 3px 3px rgba(0, 0, 0, 0.1),
  0px 4px 4px rgba(0, 0, 0, 0.1);;
  opacity: 0;
  pointer-events: none;
}

.location-box > .item-icon {
  margin-top: 25px;
  width: 60px;
  height: 65.4px;
}

.location-box > p.active {
  pointer-events: auto;
}

.location-box.active {
  transform: translateY(5%);
  opacity: 1;
  height: 300px;
}

.location-box.darkMode {
  background-color: #24252A;
}

/* Footer */
#footer-content {
  margin-top: 150px;
  background-color: rgba(237, 239, 242, 0.5);
  font-size: 1em;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

#footer-content.darkmode {
  background-color: #1C1C1B;
}

#footer-content > p {
  opacity: 0.5;
}

/* Media query for mobile */
@media (max-width: 500px) {

  /* Text styling */    
  h1 {
    line-height: 58.13px;
    font-size: 4vw;
  }

  p {
    line-height: 50px;
    font-size: 0.9em;
  }

  #header {
    margin-top: 50%;
  }

  #header.darkMode {
    color: #FFFFFF;
  }

  /* Item Button */
  #item-button {
    font-size: 1.25em;
    margin-top: 20%;
  }

  /* Dark mode button */
  #dark-mode-button-container {
    display: none;
  }

  /* Search Bar */
  #search-bar-container, #search {
    margin: 20% auto 0 auto;
    height: 50px;
    width: 300px;
  }

  #search {
    font-size: 1em;
  }

  #search:active {
    margin-top: 50%;
  }x

  .item-icon {
    display: block;
    width: 53.3px;
    height: 58.13px;
    margin: 0 auto;
  }

  .item-box {
    width: 250px;
    height: 58.13px;
  }

  .item {
    margin-top: 50px;
  }

  .location-box {
    width: 200px;
    height: 0px;
    transition: none;
  }

  .location-box.active {
    transform: translateY(5%);
    opacity: 1;
    height: 250px;
  }
}
