/* BASE WEBSITE FORMATTING AND VARIABLES (and some classes/ids) BELOW */



/* Color variables */
:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(18, 18, 18, 1);
  --opacBlack: rgba(18, 18, 18, 0.5); /* opac - opacity */
  --lightBlack: rgba(24, 24, 24, 0.95);
  --blue: rgba(6, 130, 219, 1);
  --lightBlue: rgba(29, 156, 246, 1);
}

/* Clears the formatting for the website */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Inter', 'Sans-Serif';
  text-align: center;
  font-size: 16px; /* 1em = 16px */
  color: var(--white);

  background-color: var(--black);
}

.large-text {
  font-size: 3em;
  font-weight: 200;
}

#fgo-icon {
  width: 3em;
  height: 3em;
}

#fgo-icon-outline {
  width: 1.5em;
  height: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}



/* MAIN AREA BELOW */



#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  
  overflow-x: hidden;

  height: 100vh;
  max-width: 100%;

  background: no-repeat url(../images/page-images/background.png);
  background-size: cover;
}

#home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  background-color: var(--opacBlack);
}

#text-area {
  display: inherit;
  position: relative;
  flex-direction: column;
  align-items: center;
  row-gap: 5em;
  
}

#image-area {
  position: relative;
}
#text-area, #image-area{
  flex: 0 0 50%;
}

#button-area {
  display: inherit;
  align-items: center;
  gap: 2em;
}

#hero {
  position: relative;
  
  opacity: 0;

  max-width: 80%;
  max-height: 80%;
}

.fade-in {
  animation: fadeIn ease 1.5s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}



/* BUTTON AREA BELOW */

.button {
  all: unset;
  
  display: inherit;
  flex-direction: column;
  align-items: center;

  font-size: 1.125em; /* 18px */
  font-weight: bold;

  padding: 1em;
  width: 7em;
  
  border-radius: 0.5em;

  background-color: var(--lightBlue);

  transition: background-color 0.2s ease;

  user-select: none;
}

.button:hover {
  background-color: var(--blue);
}



/* FOOTER STYLING BELOW */



#footer-content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em 0;

  font-size: 1em;

  background-color: var(--lightBlack);
}

#footer-content > p {
  opacity: 0.7;
}

/* Media query for smaller screens */
@media (max-width: 1000px) {

  #container {
    background-image: url(../images/page-images/mobile-background.png);
  }

  #home-page-container {
    flex-direction: column;
  }

  #image-area {
    order: 1;
  }

  #text-area {
    order: 2;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
/* Media query for phones */
@media (max-width: 800px) {

  .button {
    font-size: 1em;
  }

  #container {
    background-position: center right;
  }

  #text-area {
    max-height: 500px;
  }
  
  #button-area {
    gap: 1em;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
}

@media (max-width: 300px) {
  .large-text {
    font-size: 1.5em;
  }

  #home-text > h2 {
    font-size: 0.75em;
  }

  .button {
    font-size: 0.75em;
  }
}
