/* BASE WEBSITE FORMATTING AND VARIABLES BELOW */



/* Color variables */
:root {
    --white: rgba(255, 255, 255, 1);
    --darkwhite: rgba(250, 252, 255, 1);
    --black: rgba(18, 18, 18, 1);
    --lightblack: rgba(24, 24, 24, 1);
    --textwhite: rgba(222, 224, 225, 1);
    --textblack: rgba(35, 37, 38, 1);
    --blue: rgba(0, 150, 255, 0.8);
    --lightblue: rgba(0, 150, 255, 0.05);
    --buttonwhite: rgba(211, 216, 219, 1);
    --buttonblue: rgba(0, 144, 246, 1);
  }

/* Clears the formatting for the website */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Changes body background color */
body {
    background-color: var(--darkwhite);
}



/* HEADER AND SEARCH CONTAINER AREA BELOW */



#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--lightblue); */

    height: 10em;
    margin-bottom: 2em;
}

/* Base styles for search bar */
#search-bar-container {
    display: flex;
    justify-content: center;
}

#search {
    height: 2em;
    width: 20em;
    background: transparent;
    
    text-align: center;
    font-size: 1.5em;
    font-family: 'Poppins', 'sans-serif';
    
    outline: none;
    border-bottom: thin var(--black) solid;
  }

/* Removes border and x button from search input */

/* IE/Edge */
input[type=search]::-ms-clear
 { 
    display: none;
}

/* Webkit browsers */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}



/* ITEM FILTER AREA BELOW */

/* Keeps footer at the bottom */
main {
    min-height: 100vh;
}

/* Container for item area and filter. Using it to put the filter next to 
the item area on desktop, and above it on mobile */
#filter-item-container {
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
    justify-content: center;

    margin-top: 10em;
}

/* Base styles for filter container */
#filter-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;

    width: 15em;
    height: fit-content;
    padding: 1em 3em;
    margin-left: 10em;

    border-radius: 1em;
    box-shadow:
  0px 0px 1px rgba(0, 0, 0, 0.1), 
  0px 2px 2px rgba(0, 0, 0, 0.1),
  0px 3px 3px rgba(0, 0, 0, 0.1),
  0px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}



/* FILTER BUTTON BELOW */



/* Base checkbox input styles */
input[type="checkbox"] + label {
    margin: 1em 0;
}

/* Moves the actual checkbox off the screen */
input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -10000px;
}

/* Self explanitory center */
input[type="checkbox"].toggle + label {
    display: flex;
    align-items: center;
    
}

/* Create background for slider checkbox */
input[type="checkbox"].toggle + label::before {
    width: 75px;
    height: 30px;
    
    content: "";

    border-radius: 1em;
    background-color: var(--buttonwhite);
    
    transition: ease 0.2s;
}

/* Creates slider on the checkbox */
input[type="checkbox"].toggle + label::after {
    position: absolute;
    left: 135px;
    width: 20px;
    height: 20px;

    content: "";

    border-radius: 1em;
    background-color: var(--darkwhite);

    transition: ease 0.2s;
}

/* Moves slider when clicked. Moves 45px because  */
input[type="checkbox"].toggle:checked + label::after {
    transform: translateX(45px);
    background-color: var(--darkwhite);
}

input[type="checkbox"].toggle:checked + label::before {
    background-color: var(--buttonblue);
}



/* ITEM AREA BELOW */



/* Centers all elements and makes excess elements go to next row */
#item-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: auto;


    width: 50%;
    height: fit-content;
}

/* Sets overflow to 5 items, changes background color, and changes positioning */
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 10%;
    background-color: var(--white);

    padding: 1em;
    margin: 1em;
    width: fit-content;
    height: fit-content;

    border-radius: 1em;
    box-shadow:
  0px 0px 1px rgba(0, 0, 0, 0.1), 
  0px 2px 2px rgba(0, 0, 0, 0.1),
  0px 3px 3px rgba(0, 0, 0, 0.1),
  0px 4px 4px rgba(0, 0, 0, 0.1);
}

/* Makes all item icons the same size */
.item-icon {
    width: 90px;
    height: 90px;
}

.item > p {
    text-align: center;
}

/* Base styles for item rarity icons (Gold, Silver, and Bronze (Copper) */
.item-rarity-icon {
    max-width: 32px;
    max-width: 32px;
}

/* Footer STYLING BELOW */



/* Base footer styles */
#footer-content {
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    background-color: rgba(237, 239, 242, 0.5);

    font-size: 1em;
    
    margin-top: 150px;
  }

  #footer-content > p {
    opacity: 0.5;
  }
  