/* BASE WEBSITE FORMATTING AND VARIABLES (and some classes/ids) BELOW */



/* Color variables */
:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(18, 18, 18, 1);
  --opacBlack: rgba(18, 18, 18, 0.5); /* opac - opacity */
  --lightblack: rgba(24, 24, 24, 0.95);
  --lighterblack: rgba(35, 37, 38, 1);
  --blue: rgba(6, 130, 219, 1);
  --lightBlue: rgba(29, 156, 246, 1);
  }

/* Clears the formatting for the website */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: var(--white);
  font-family: 'Inter', 'Sans-serif';
  font-size: 16px;

  background-color: var(--black);
    
}

.no-hover, .no-hover:hover {
  border-bottom: none;
}

#fgo-icon {
  width: 2.5em;
  height: 2.5em;
}

a {
  text-decoration: none;
  color: inherit;
}



/* HEADER AREA BELOW */



#header-container {
  display: flex;
  align-items: center;
  justify-content: center;

  max-height: fit-content;
  padding: 1em 0;
}

#navbar {
  display: inherit;
  justify-content: center;
  align-items: center; 
}

#navbar > ul {
  display: inherit;
  align-items: center;
  column-gap: 3em;
  
  list-style-type: none;
}

ul > li {
  font-size: 0.8em;
  
  border-bottom: thin solid transparent;

  transition: all ease 0.2s;
}

ul > li:hover {
  border-bottom: thin solid var(--white);
}



/* MAIN AREA BELOW */



#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 100vh;
  padding: 5em 0;

  background-color: var(--lightblack);
}






/* BUTTON AREA BELOW */



#button-area {
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  column-gap: 1.5em;

  width: 25em;
  height: 2em;
  padding: 1em 2em;
  margin-bottom: 5em;

  box-shadow:
  0px 0px 1px rgba(0, 0, 0, 0.1), 
  0px 2px 2px rgba(0, 0, 0, 0.1),
  0px 3px 3px rgba(0, 0, 0, 0.1),
  0px 4px 4px rgba(0, 0, 0, 0.1);

  background-color: var(--lighterblack);
}

.button {
  all: unset;

  display: inherit;
  justify-content: center;
  align-items: center;
  flex: 0 0 30%;
  
  padding: 0.5em 1em;

  background-color: var(--lightBlue);
  
  box-sizing: border-box;

  transition: 0.2s ease;
}

.button:hover {
  background-color: var(--blue);
}


/* ITEM AREA BELOW */



/* Centers all elements and makes excess elements go to next row */
#item-area {
  display: inherit;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  
  width: 50%;
}

/* changes background color, and changes positioning */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0 0 12%;
  background-color: var(--lighterblack);

  padding: 1em;
  height: 14em;

  box-shadow:
  0px 0px 1px rgba(0, 0, 0, 0.1), 
  0px 2px 2px rgba(0, 0, 0, 0.1),
  0px 3px 3px rgba(0, 0, 0, 0.1),
  0px 4px 4px rgba(0, 0, 0, 0.1);
}

.item > element {
  flex-basis: 33%;
}

.item-icon {
  width: 90px;
  height: 90px;
}

.item > span {
  display: inherit;
  align-items: center;
  flex-basis: 30%;

  text-align: center;
  font-size: 0.875em;    
}

.item-rarity-icon {
  max-width: 32px;
  max-width: 32px;
}

/* Footer STYLING BELOW */



#footer-content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em 0;

  font-size: 1em;

  background-color: var(--lightBlack);
}

#footer-content > p {
  opacity: 0.7;
}